@charset "UTF-8";

/*
Paleta de cores
    Verde #49a09d
    Lilás #5f2c82
*/

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
    --verde-escuro: #2d6462;
    --verde-claro: #6cd3cf;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#login{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden; /* tudo que estiver fora da borda fica escondido */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.450);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
   
}

div#imagem{
    display: block;
    background: var(--lilas) url(../imagens/porta.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;
    
}

div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: var(--lilas);
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

div.campo > i{
    color:white;
    /* background-color: black; */
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: var(--verde-claro);
    font-size: 1em;
    width: calc(100% - 45px); /*calculo com css*/
    height: 100%;
    border: 0;
    border-radius: 8px;
    padding: 1px 1px 1px 10px;
    transform: translateY(-12px); /*sempre que tiver um transformfazer na última linha do seletor*/
}

div.campo > input:focus-within /*foco quando estiver digitando */{
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer; /*vira "maozinha" quando o ouse está em cim*/
}

form > input[type=submit]:hover{
    background-color: var(--verde-escuro);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: var(--verde-escuro);
    border: 1px solid var(--verde);
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer; /*vira "maozinha" quando o ouse está em cim*/
}

form > a.botao:hover{
    background-color: var(--verde-claro);
}

form > a.botao > i{
    font-size: 0.8em;
}

    
    